body{
    margin:0;
}
.headermenu {
    top:0;
    background-color: #222;
    width:100%;
    overflow: hidden;
    font-size:16px;
}

.headermenu a {
    color:white;
    float:left;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}

.submenu {
    float:left;
    overflow: hidden;
}

.submenu .submenubtn {
    color: white;
    background-color: #222;
    text-decoration: underline;
    border:none;
    padding:16px 20px;
    margin:0;
    font-size:16px;
}

.submenucontent {
    display:none;
    position: absolute;
    left:0;
    width:100%;
    z-index: 1;
}

.submenucontent a {
    float:left;
    text-decoration: none;
    background-color: #666;
}

.headermenu a:hover, .submenu:hover .submenubtn {
    background-color: #666;
}

.submenu:hover .submenucontent {
    display:block;
}